html {
  font-size: 62.5%;
}

body {
    margin: 0 4%;
    font-family: 'Noto serif JP', 'Times New Roman', serif;
    background-color: white;
    font-size: 1.6rem;
    line-height: 1.5; /* 行間も指定しておくと読みやすい */
}

/* 3. clamp()で見出しなどを設定 */
h1 {
  /* 最小24px, 推奨5vw, 最大48px */
  font-size: clamp(2.4rem, 5vw, 4.8rem);
}

h2 {
  /* 最小20px, 推奨3vw, 最大32px */
  font-size: clamp(2.0rem, 3vw, 3.2rem);
}

p {
  /* 段落は画面幅で変えない、もしくは変化を小さくする */
  font-size: 1.6rem; /* bodyと同じで固定、もしくはclamp()で少しだけ変化させる */
}

a {
    display: block;
    font-size: clamp(0.1rem, 3vw, 1.2rem);
}

.header-box {
    display: flex;
    padding-top: 2px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(169, 169, 169);
}

.logo-placeholder {
    width: 5rem;
}

.logo-placeholder img {
    width: 100%;
}

.login-box {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    gap: 5px;
}
.login-box a {
    display: block;
    white-space: nowrap;
    text-decoration: none;
    color: black;
}

.icon-box {
    width: 3rem;
    padding: 0;
    margin: 0 auto;
}

.icon-box img {
    width: 100%;
    border-radius: 100%;
}

/* for map page */
#map-container {
    position: relative; /* 子要素を相対位置で配置するための基準 */
    width: 100%;
    height: 80vh; /* 地図の高さを画面の80%に設定 */
}

#map {
    width: 100%;
    height: 100%;
}

#search-box-container {
    position: absolute; /* 地図の上に浮かせる */
    top: 10px;
    left: 50%;
    transform: translateX(-50%); /* 中央揃えにするテクニック */
    z-index: 1000; /* 地図のコントロールより手前に表示 */
    display: flex;
    background-color: #e5eaf3;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

#searchInput {
    border: none;
    outline: none;
    padding: 8px;
    width: 250px;
    font-size: 1.4rem;
    background-color: #e5eaf3;
    opacity: 0.7;
}

#search-box-container button {
    border: none;
    background-color: #8a94a4; /* Google Map風の青色 */
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}

#search-box-container button:hover {
    background-color: #e5eaf3;
}